{% extends "personal/header.html" %}

{% block content %}
<p> RS21 ​​THE LEFT: 1​​<br>
 
On ‘Gramsci and Us’, Stuart Hall <br>
http://www.versobooks.com/blogs/2448-stuart-hall-gramsci-and-us <br><br>
 
First things first: Stuart Hall is a tremendous writer. Second: he wrote this prescient, intelligent and polished piece in 1988, but was not heard at the time by the far left. And third, it may just give us a helpful nudge as we seek to understand the current period.<br>
 
Hall sets out to apply Gramsci to a pivotal period in British history, when the Left was grappling with the shockwaves of Thatcherism. He sets out to understand how Thatcher changed everyday “common sense” through ‘authoritarian populism’. So how does the left deal with the new moment? He uses Gramsci to examine the rise of neo-liberalism, to see what is specific, and what is different.<br>
 
The 'proletarian moment'
For Hall, the question which arises from the Prison Notebooks is, when is the 'proletarian moment'? Hall argues that in the 1920s the 'proletarian moment' very nearly happened —  “if only the managers and politicians would get out of the way, [the] proletarians could run the world, take over the factories, seize the whole machinery of society, materially transform it and manage it.”<br>
 
He goes on to argue that Gramsci gives us the means with which to ask the right kinds of questions about politics by:

 “directing our attention unswervingly to what is specific and different about this moment. It's a lesson which the Left in Britain has yet to learn. It still feels more 'left-wing' to say the old ruling-class politics goes on in the same old way.” <br>
 
The Thatcher project
Hall argues that British Conservatism partially adapted to a changed world – the world of neo-liberal and monetarist revolutions:<br>
 
“Thatcherism has reconstructed Conservatism and the Conservative Party. The hard-faced, utilitarian, petty-bourgeois businessmen are now in charge, not the grouse-shooting, hunting and fishing classes. And yet, though those transformations are changing the political terrain of struggle before our very eyes, we think the differences don't have any real effect on anything. It still feels more 'left-wing' to say the old ruling-class politics goes on in the same old way.” <br>
 
For Hall, Thatcherism represented “regressive modernization”. That is, a contradictory mix of old-school Victorian values (some possibly invented) and hard-nosed business principles. Thatcher always aimed for a long historical occupancy of power. The project was to transform the state in order to restructure society: 

“to decentre, to reverse political culture— the historic compromise between labour and capital from 1945”. <br>
 
Popular authority
Hall turns his focus to the contest for popular authority: “the ideas of the people who simply, in ordinary everyday life, have to calculate how to survive, how to look after those who are closest to them”. He argues that Thatcher knew she had to construct an image of what modernity would be like. In Gramsci’s terms, Thatcherism aimed for a reversal in ordinary “common sense” — ideas which are taken for granted, but which serve the individual rather than the collective. For Hall, Thatcher achieved 'authoritarian populism' — “Thatcherism simultaneously 'above' (in the state) and 'below' (out there with the people)”. This is Gramsci’s hegemony or authority.<br>
 
What is specific and different about this moment? We tend to think that the Right is not only always with us, but it is always exactly the same. It’s not.<br>
 
What is politics?
Hall argues that one of the most important things that Gramsci has done for us is to give us a “profoundly expanded conception of what politics itself is like, and thus also of power and authority”.<br>
 
</p>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}

